body{
  margin: 0;
  padding: 0;
  background-color: #1E1E2E;
  color: #e1e8ff;
}
p, h1, h2, h3, h4, h5, a, small{
  color: #e1e8ff;
}

/* ---------NAV BAR---------*/

.navbar.navbar-expand-lg.bg-body-tertiary{
  background-color: #11111a;
  margin-left: auto;
  margin-right: auto;
  border: 1px #32324d;
  border-style: none none solid none;
}
.navbar-brand{
  margin-left: 33.7%;
}
.navbar-brand, 
.nav-link,
.nav-item{
  color: #e1e8ff;
}

.navbar .nav-link.active,
.navbar .navbar-brand.nav-link.active,
.navbar .nav-link:focus,
.navbar .navbar-brand:focus {
  color: #c1cffe;
  background-color: transparent;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #c1cffe;
  background-color: transparent;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.dropdown-menu {
  background-color: #181824;
  border-color: rgb(50, 50, 79);
}

.dropdown-item {
  color: #e1e8ff;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active,
.dropdown-item.active {
  background-color: #1E1E2E;
  color: #c1cffe;
}
/* ---------BUS TIME LIST---------*/
.list-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1E1E2E;
  color: #e1e8ff;
}

.list-group-item.list-group-item-action{
  padding: 10px;
  margin-top: 10px;
  background-color: #1E1E2E;
  border:1px;
  border-color: #e1e8ff;
  border-radius: 5px;
  border-style: solid;
  color: #e1e8ff;
}
.tagad-aliks{
  margin-left: auto;
  margin-right: auto;
  margin-top: 5px;
  margin-bottom: 0px;
}
.virziens-no{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #1E1E2E;
  color: #e1e8ff;
}

.virziens-no{
  margin-top: 10px;
}

/*---------HOME PAGE---------*/

.scrollspy-example.bg-body-tertiary.p-3.rounded-2{
  max-width: 600px;
  margin-left: auto;
  margin-right: auto;
}

#scrollspyHeading2, #scrollspyHeading3, #scrollspyHeading4 {
  padding: 10px;
  display: block;
  text-align: center;
  margin-top: 20px;
}

#scrollspyHeading1 {
  padding: 10px;
  display: block;
  text-align: center;
}

#scrollspySmall1 {
  display: block;
  text-align: right;
  color: #edf1fe;
}

#textRedCenter {
  display: block;
  text-align: center;
}
/*---------HOME PAGE---------*/
.list-group-contact, .mb-2{
  margin-left: auto;
  margin-right: auto;
  max-width: 600px;
  text-align: center;
}
/*---------BUSU NOMA---------*/
.nomas-virsraksts{
  text-align: center;
  margin-top: 10px;
}

.carousel.carousel-dark.slide{
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
}

.busu-nosaukums,
.busu-apraksts{
  color: white;
  text-shadow: 2px 2px #000000;
}
