body{
  margin: 0;
  padding: 0;
  background-color: #1E1E2E;
  color: #e1e8ff;
}
p, h1, h2, h3, h4, h5, a, small{
  color: #e1e8ff;
}

/* ---------NAV BAR---------*/
.navbar-brand, 
.nav-link,
.nav-item{
  color: #e1e8ff;
}

.navbar .nav-link.active,
.navbar .navbar-brand.nav-link.active,
.navbar .nav-link:focus,
.navbar .navbar-brand:focus {
  color: #c1cffe;
  background-color: transparent;
}

.navbar .nav-link:hover,
.navbar .navbar-brand:hover {
  color: #c1cffe;
  background-color: transparent;
}

.navbar-toggler-icon {
  filter: invert(1);
}

.navbar-toggler {
  border: none;
}

.navbar-toggler:focus {
  box-shadow: none;
  outline: none;
}

.dropdown-menu {
  background-color: #181824;
  border-color: rgb(50, 50, 79);
}

.dropdown-item {
  color: #e1e8ff;
}

.dropdown-item:hover {
  background-color: #1E1E2E;
  color: #c1cffe;
}
/* ---------BUS TIME LIST---------*/
.list-group {
  max-width: 500px;
  margin-left: auto;
  margin-right: auto;
  background-color: #1E1E2E;
  color: #e1e8ff;
}

.list-group-item.list-group-item-action{
  padding: 10px;
  margin-top: 10px;
  background-color: #1E1E2E;
  border:1px;
  border-color: #e1e8ff;
  border-radius: 5px;
  border-style: solid;
  color: #e1e8ff;
}

.virziens-no{
  margin-left: auto;
  margin-right: auto;
  padding: 5px;
  background-color: #1E1E2E;
  color: #e1e8ff;
}

